<form #requestPasswordForm="ngForm" (submit)="requestPassword(requestPasswordForm)" id="request-password-form">
    <div class="form-group" [ngClass]="{'has-error': requestPasswordForm.submitted && email.invalid}">
        <span class="help-block" *ngIf="requestPasswordForm.submitted && email.invalid">
            {{email.errors.required? 'Email is required': ''}}
            {{email.errors.server? email.errors.server: ''}}
        </span>
        <div class="input-with-icon-left">
            <i class="icon-material-baseline-mail-outline"></i>
            <input type="email" class="input-text with-border" name="email" #email="ngModel" ngModel
                placeholder="Email Address" required />
        </div>
    </div>

    <!-- Button -->
    <button class="margin-top-10 button full-width button-sliding-icon ripple-effect"
        type="submit">Submit
        <i class="icon-material-outline-arrow-right-alt"></i></button>
</form>