<form #f="ngForm" (submit)="f.form.valid && getEstimate()">
    <div class="intro-banner-search-form margin-top-95">

        <!-- Search Field -->
        <div class="intro-search-field with-autocomplete with-label" [ngClass]="{'has-error': f.submitted && origin.invalid}">

            <label for="autocomplete-input" class="field-title ripple-effect">Pick up Address</label>
            <div class="input-with-icon">

                <input id="autocomplete-input" type="text" placeholder="Enter Pickup" name="origin" id="origin-input" ngModel #origin="ngModel" required>
                <i class="icon-material-outline-location-on"></i>

            </div>
            <span class="help-block" *ngIf="f.submitted && origin.invalid">
                Pickup is required
            </span>
        </div>

        <!-- Search Field -->
        <div class="intro-search-field with-label" [ngClass]="{'has-error': f.submitted && destination.invalid}">

            <label for="intro-keywords" class="field-title ripple-effect">Destination</label>
            <div class="input-with-icon">

                <input id="intro-keywords" type="text" placeholder="Enter destination" name="destination" id="destination-input" ngModel #destination="ngModel" required>
                <i class="icon-material-outline-location-on"></i>

            </div>
            <span class="help-block" *ngIf="f.submitted && destination.invalid">
                Destination is required
            </span>

        </div>

        <!-- Button -->
        <div class="intro-search-button">
            <button class="button ripple-effect" type="submit">Get Estimate</button>
        </div>
    </div>
</form>