<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Schedule a Lugg</h1>
                <span><small>Select a category and we’ll get you moving!</small></span>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="companies-list">
                <a href="#" class="company">
                    <div class="company-inner-alignment">
                        <span class="company-logo"><img src="assets/images/company-logo-placeholder.png" alt=""></span>
                        <h4>Store Delivery</h4>
                        <span class="icon-material-outline-arrow-right-alt arrow-icon"></span>
                    </div>
                </a>
                <a href="#" class="company">
                    <div class="company-inner-alignment">
                        <span class="company-logo"><img src="assets/images/company-logo-placeholder.png" alt=""></span>
                        <h4>Small Move</h4>
                        <span class="icon-material-outline-arrow-right-alt arrow-icon"></span>
                    </div>
                </a>
                <a href="#" class="company">
                    <div class="company-inner-alignment">
                        <span class="company-logo"><img src="assets/images/company-logo-placeholder.png" alt=""></span>
                        <h4>Storage Move</h4>
                        <span class="icon-material-outline-arrow-right-alt arrow-icon"></span>
                    </div>
                </a>
                <a href="#" class="company">
                    <div class="company-inner-alignment">
                        <span class="company-logo"><img src="assets/images/company-logo-placeholder.png" alt=""></span>
                        <h4>Craigslist Pickup</h4>
                        <span class="icon-material-outline-arrow-right-alt arrow-icon"></span>
                    </div>
                </a>
                <a href="#" class="company">
                    <div class="company-inner-alignment">
                        <span class="company-logo"><img src="assets/images/company-logo-placeholder.png" alt=""></span>
                        <h4>Donations</h4>
                        <span class="icon-material-outline-arrow-right-alt arrow-icon"></span>
                    </div>
                </a>
                <a href="#" class="company">
                    <div class="company-inner-alignment">
                        <span class="company-logo"><img src="assets/images/company-logo-placeholder.png" alt=""></span>
                        <h4>Junk Removal</h4>
                        <span class="icon-material-outline-arrow-right-alt arrow-icon"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="margin-top-70"></div>