<div class="intro-banner dark-overlay">

    <!-- Transparent Header Spacer -->
    <div class="transparent-header-spacer" style="height: 300px;"></div>

    <div class="background-image-container" style="background-image: url(&quot;assets/images/luggers-moving.png&quot;);">
    </div>
</div>

<div class="section margin-top-65 margin-bottom-30">
    <div class="container">
        <div class="row">

            <!-- Section Headline -->
            <div class="col-xl-12">
                <div class="section-headline centered margin-top-0 margin-bottom-45">
                    <h2>Pick up and delivery to and from storage</h2>
                    <p>Effortlessly move your belongings in and out of your storage unit. Store your things with a tap and have them back in as little as an hour when you need them.</p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="companies-list">

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/phone.png" alt=""></span>
                            <h2>Store anywhere</h2>
                            <p>Store your belongings at your nearest storage unit or your parents garage. We'll load, haul, and deliver anything, anywhere.</p>
                        </div>
                    </a>

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/calendar.png" alt=""></span>
                            <h2>Convenient access</h2>
                            <p>Your storage unit and everything in it just a tap away. Picked up and delivered in under an hour.</p>
                        </div>
                    </a>

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/tea.png" alt=""></span>
                            <h2>Your things protected</h2>
                            <p>Your Lugg will be backed by our multi-million dollar insurance policy from the moment your items are in our hands.</p>
                        </div>
                    </a>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <app-map-input [serviceType]="storage-moves"></app-map-input>
            </div>
        </div>

    </div>
</div>