<div class="intro-banner dark-overlay">

    <!-- Transparent Header Spacer -->
    <div class="transparent-header-spacer" style="height: 300px;"></div>

    <div class="background-image-container" style="background-image: url(&quot;assets/images/luggers-moving.png&quot;);">
    </div>
</div>

<div class="section margin-top-65 margin-bottom-30">
    <div class="container">
        <div class="row">

            <!-- Section Headline -->
            <div class="col-xl-12">
                <div class="section-headline centered margin-top-0 margin-bottom-45">
                    <h2>Popular Categories</h2>
                    <p>We send a truck and movers same day to remove and haul away your junk to the nearest transfer station.
                    </p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="companies-list">

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/phone.png" alt=""></span>
                            <h2>Snap a picture</h2>
                            <p>Take a quick picture of what you want to get removed. It’s that easy.</p>
                        </div>
                    </a>

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/calendar.png" alt=""></span>
                            <h2>On your schedule</h2>
                            <p>Two Luggers and a truck will pick up your junk when you’re ready.</p>
                        </div>
                    </a>

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/tea.png" alt=""></span>
                            <h2>A clean house</h2>
                            <p>Your junk removed in no time.</p>
                        </div>
                    </a>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <app-map-input [serviceType]="junk-removal"></app-map-input>
            </div>
        </div>

    </div>
</div>