<div class="intro-banner dark-overlay">

    <!-- Transparent Header Spacer -->
    <div class="transparent-header-spacer" style="height: 300px;"></div>

    <div class="background-image-container" style="background-image: url(&quot;assets/images/luggers-moving.png&quot;);">
    </div>
</div>

<div class="section margin-top-65 margin-bottom-30">
    <div class="container">
        <div class="row">

            <!-- Section Headline -->
            <div class="col-xl-12">
                <div class="section-headline centered margin-top-0 margin-bottom-45">
                    <h2>Move into your apartment with a tap</h2>
                    <p>Enjoy the ease of moving with Lugg. In just few simple steps book 2 strong movers and a truck to move all your items into your new place.</p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="companies-list">

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/phone.png" alt=""></span>
                            <h2>Schedule within minutes</h2>
                            <p>Don’t spend hours looking for movers. It takes a few minutes to request 2 of our best Luggers to move you.</p>
                        </div>
                    </a>

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/calendar.png" alt=""></span>
                            <h2>Don’t lift a finger</h2>
                            <p>Our Luggers will do the impossible to get all your items to your destination safely. You sit back while we do the lifting.</p>
                        </div>
                    </a>

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/tea.png" alt=""></span>
                            <h2>Peace of mind</h2>
                            <p>We are licensed and insured. Your move with Lugg will be backed by our multi-million dollar insurance policy.</p>
                        </div>
                    </a>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <app-map-input [serviceType]="small-moves"></app-map-input>
            </div>
        </div>

    </div>
</div>