<div class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-page-header-inner">
                    <div class="left-side">
                        <div class="header-details">
                            <h3>Get an Estimate <span>Tell us a bit about your move and we’ll help you calculate the
                                    cost.</span></h3>
                        </div>
                    </div>
                    <div class="right-side">
                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs" class="white">
                            <ul>
                                <li><a routerLink="/">Home</a></li>
                                <li><a>Get an Estimate</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-page-content-inner">

    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-6">
                <router-outlet></router-outlet>
            </div>
            <div class="col-xl-6">
                <div id="map" style="height: 640px;"></div>
            </div>
        </div>
    </div>

</div>