<div class="intro-banner dark-overlay">

    <!-- Transparent Header Spacer -->
    <div class="transparent-header-spacer" style="height: 300px;"></div>

    <div class="background-image-container" style="background-image: url(&quot;assets/images/luggers-moving.png&quot;);">
    </div>
</div>

<div class="section margin-top-65 margin-bottom-30">
    <div class="container">
        <div class="row">

            <!-- Section Headline -->
            <div class="col-xl-12">
                <div class="section-headline centered margin-top-0 margin-bottom-45">
                    <h2>Craigslist pick up and delivery</h2>
                    <p>Shop used, buy local. It’s never been easier to buy on services like Craigslist, Offerup & Letgo. Pay online and let Lugg pick it up and deliver into your home.</p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="companies-list">

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/phone.png" alt=""></span>
                            <h2>Anything, anywhere</h2>
                            <p>We’ll go the distance to pick up that item you love. We deliver up to 150 miles outside our service area.</p>
                        </div>
                    </a>

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/calendar.png" alt=""></span>
                            <h2>Pay the seller</h2>
                            <p>No more runs to the ATM. Pay for your items using services like Venmo or Square Cash prior to pickup.</p>
                        </div>
                    </a>

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/tea.png" alt=""></span>
                            <h2>Delivered into your home</h2>
                            <p>Just let the seller know that Lugg will pick up your purchase for you. You don’t even have to leave the house.</p>
                        </div>
                    </a>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <app-map-input [serviceType]="craigslist-delivery"></app-map-input>
            </div>
        </div>

    </div>
</div>