<div class="intro-banner dark-overlay">

    <!-- Transparent Header Spacer -->
    <div class="transparent-header-spacer" style="height: 300px;"></div>

    <div class="background-image-container" style="background-image: url(&quot;assets/images/luggers-moving.png&quot;);">
    </div>
</div>

<div class="section margin-top-65 margin-bottom-30">
    <div class="container">
        <div class="row">

            <!-- Section Headline -->
            <div class="col-xl-12">
                <div class="section-headline centered margin-top-0 margin-bottom-45">
                    <h2>Store delivery in under 1-hour</h2>
                    <p>Shop that new sofa from your local furniture store and let us pick it up and deliver into your home, right where you want it. Same day. Effortlessly.</p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="companies-list">

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/phone.png" alt=""></span>
                            <h2>Pick up from any store</h2>
                            <p>Shop at all your favorite places. We pick up from any store within our service area.</p>
                        </div>
                    </a>

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/calendar.png" alt=""></span>
                            <h2>Same day delivery</h2>
                            <p>Your purchases delivered in under 1-hour or any time that works best for you.</p>
                        </div>
                    </a>

                    <a class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="assets/images/tea.png" alt=""></span>
                            <h2>Your purchase protected</h2>
                            <p>Your delivery with Lugg will be backed by our multi-million dollar insurance policy.</p>
                        </div>
                    </a>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <app-map-input [serviceType]="store-delivery"></app-map-input>
            </div>
        </div>

    </div>
</div>